name: Build
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - run: cd Textream && xcodebuild archive -project Textream.xcodeproj -scheme Textream -configuration Release -archivePath ../build.xcarchive -destination "generic/platform=macOS" SKIP_INSTALL=NO
      - uses: actions/upload-artifact@v4
        with:
          name: Textream
          path: Textream/build/release/Textream.app
